<html>
    <head>
        <title>Ola's blog</title>
    </head>

    <h1>Pierwsze kroki z django</h1>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
        <img src="https://media.giphy.com/media/N5mSmJEfzSVoI/giphy.gif">
    </body>
    <br>
    <p>
    <div>
    <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaks }}</p>
        </div>
    {% endfor %}
    </p>
    </br>
</html>
